.login-page {
  background-image: url("../../assets/image2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.login-container {
  width: 40vw;
  max-width: 500px;
  height: 50vh;
  padding: 40px;

  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.login-container:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
  background-color: #531e1e;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ebe6e6; /* Color for the heading */
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form elements horizontally */
  gap: 20px; /* Space between form elements */
}

.login-form label {
  display: block;
  width: 100%;
}

.login-form input {
  width: 100%;
  max-width: 600px; /* Max width for the input fields */
  padding: 14px; /* Increased padding for inputs */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: hsl(0, 21%, 85%);
  box-sizing: border-box; /* Ensures padding and border are included in the total width */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Added transition for better interaction */
}

.login-form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Box shadow on focus */
  outline: none;
}

.login-form button {
  width: 100%;
  max-width: 600px; /* Max width for the button */
  padding: 14px; /* Increased padding for buttons */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Added transition for better interaction */
}

.login-form button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Lift effect on hover */
}

.error {
  color: #dc3545;
  text-align: center;
  margin-bottom: 20px; /* Increased margin for better spacing */
}

.direct {
  text-align: center;
  color: hsl(0, 21%, 85%);
  font-size: 15px;
}

.direct a {
  color: dodgerblue;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
